
    <h4 style="font-family:'Clarendon BT'; font-size:16px; font-weight:bold; color:darkslateblue; margin-left:10px";>Candidate's Result (Optional)</h4><hr />
    <div class="form-group">
        @Html.Label("Interview Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
             @Html.TextArea("interviewRemarks", new { @style = "resize: none; height:100px; width: 500px", htmlAttributes = new { @class = "form-control" }, @row = 8 })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Interview Result", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="interviewResult" name="interviewResult" value="SuggestHire" type="radio"> Suggest Hire<br>
            <input id="interviewResult" name="interviewResult" value="NotSuggestToHire" type="radio"> Not Suggest To Hire<br>
            <input id="interviewResult" name="interviewResult" value="KIV" type="radio"> KIV<br>
        </div>
    </div>
