@model IEnumerable<RecruitmentManagementSystem__Danny_.Models.Interview>
@{
    ViewBag.Title = "Interview Management";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<head>
</head>
<table style="border:hidden; width:100%"> 
    <td style="border:hidden">
        <h2 style="font-family:Verdana; font-weight:bold">Interview Management</h2>
        <hr />
    </td>
    <td>
        <div class="col-sm-12">
            <div class="form-inline pull-right"  style="font-size:20px">
                <label>🔍</label>
                <input type="text" class="form-control" id="txtSearch" />
            </div>
        </div>
    </td>
    <td style="border:hidden">
        @*@using (Html.BeginForm())
        {*@
            @Html.DropDownList("ddlStatus", ViewBag.InterviewStatus as List<SelectListItem>, "Select Status", new { @id = "ddlStatus", @style = "color: black; padding: 8px 10px; float:right; margin-right:30px" })
            @*<button type="submit" id="search" value="Search" style="padding:5px;"><i class="fa fa-search"></i></button>*@
    </td>
</table>
<body>
   
    <div id="gridSearch"></div>
</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(".LinkButton").on("click", function () {
            return confirm("Do you want to confirm your selection?");
        });
        @*$('dosubmit').click(function (e) {
            return confirm("Do you want to submit?");
        }*@

    $(() => {
        getUsers();
        getStatus();

        $('#txtSearch').on('keyup', () => {
            getUsers();
        });
        $('#ddlStatus').on('change', () => {
            getStatus();
        });

    });

    function getUsers() {
        $.ajax({
            url: '@Url.Action("SearchUsers","Interview")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val(), searchStatus: $('#ddlStatus').val()},
            success: function (res) {
                $('#gridSearch').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function getStatus() {
        $.ajax({
            url: '@Url.Action("SearchUsers","Interview")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val(), searchStatus: $('#ddlStatus').val()},
            success: function (res) {
                $('#gridSearch').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>
